<p id="notice"><%= notice %></p>

<table class="table">
    <tr>
        <td>
            <strong>Mgmtno</strong>
        </td>
        <td>
            <%= @assetlist.mgmtno %>
        </td>
    </tr>

    <tr>
        <td>
            <strong>Dept</strong>
        </td>
        <td>
            <%= @assetlist.dept %>
        </td>
    </tr>

    <tr>
        <td>
            <strong>Username</strong>
        </td>
        <td>
            <%= @assetlist.username %>
        </td>
    </tr>

    <tr>
        <td>
            <strong>Devicetype</strong>

        </td>
        <td>
            <%= @assetlist.devicetype %>

        </td>
    </tr>
    <tr>
        <td>
            <strong>Purpose</strong>

        </td>
        <td>
            <%= @assetlist.purpose %>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Manufacture</strong>
        </td>
        <td>
            <%= @assetlist.manufacture %>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Modelno</strong>
        </td>
        <td><%= @assetlist.modelno %></td>
    </tr>
    <tr>
        <td>
            <strong>Serialno</strong>
        </td>
        <td><%= @assetlist.serialno %></td>
    </tr>
    <tr>
        <td>
            <strong>Description</strong>
        </td>
        <td><%= @assetlist.description %></td>
    </tr>
    <tr>
        <td>
            <strong>Ram</strong>
        </td>
        <td><%= @assetlist.ram %></td>
    </tr>
    <tr>
        <td>
            <strong>Disk</strong>
        </td>
        <td><%= @assetlist.disk %></td>
    </tr>
    <tr>
        <td>
            <strong>Os</strong>
        </td>
        <td>
            <%= @assetlist.os %></td>
    </tr>
    <tr>
        <td>
            <strong>Hostname</strong>
        </td>
        <td>
            <%= @assetlist.hostname %></td>
    </tr>
    <tr>
        <td>
            <strong>Ipaddr</strong>
        </td>
        <td>
            <%= @assetlist.ipaddr %></td>
    </tr>
    <tr>
        <td>
            <strong>Gateway</strong>
        </td>
        <td>
            <%= @assetlist.gateway %></td>
    </tr>
    <tr>
        <td>
            <strong>Mac wire</strong>
        </td>
        <td><%= @assetlist.mac_wire %></td>
    </tr>

    <tr>
        <td>
            <strong>Mac wireless</strong>
        </td>
        <td><%= @assetlist.mac_wireless %></td>
    </tr>

    <tr>
        <td>
            <strong>Date buy</strong>
        </td>
        <td><%= @assetlist.date_buy %>
        </td>
    </tr>

    <tr>
        <td>
            <strong>Date produce</strong>
        </td>
        <td><%= @assetlist.date_produce %>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Amount buy</strong>
        </td>
        <td><%= @assetlist.amt_buy %>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Remarks</strong>
        </td>
        <td><%= @assetlist.remarks %>
        </td>
    </tr>

</table>
<%= link_to 'Edit', edit_assetlist_path(@assetlist) %>
|
<%= link_to 'Back', assetlists_path %>